.ticket {
    border-left: 5px solid #0d6efd;
    padding: 10px;
    background: white;
    margin-bottom: 12px;
    border-radius: 6px;
}

.ticket.alta {
    border-left-color: #dc3545;
    background: #ffe6e6;
}

.ticket.leido {
    opacity: 0.6;
}
